./xmldocs/not-wf/sa/001.xml        -crlf
./xmldocs/not-wf/sa/002.xml        -crlf
./xmldocs/not-wf/sa/003.xml        -crlf
./xmldocs/not-wf/sa/004.xml        -crlf
./xmldocs/not-wf/sa/005.xml        -crlf
./xmldocs/not-wf/sa/006.xml        -crlf
./xmldocs/not-wf/sa/007.xml        -crlf
./xmldocs/not-wf/sa/008.xml        -crlf
./xmldocs/not-wf/sa/009.xml        -crlf
./xmldocs/not-wf/sa/010.xml        -crlf
./xmldocs/not-wf/sa/011.xml        -crlf
./xmldocs/not-wf/sa/012.xml        -crlf
./xmldocs/not-wf/sa/013.xml        -crlf
./xmldocs/not-wf/sa/014.xml        -crlf
./xmldocs/not-wf/sa/015.xml        -crlf
./xmldocs/not-wf/sa/016.xml        -crlf
./xmldocs/not-wf/sa/017.xml        -crlf
./xmldocs/not-wf/sa/018.xml        -crlf
./xmldocs/not-wf/sa/019.xml        -crlf
./xmldocs/not-wf/sa/020.xml        -crlf
./xmldocs/not-wf/sa/021.xml        -crlf
./xmldocs/not-wf/sa/022.xml        -crlf
./xmldocs/not-wf/sa/023.xml        -crlf
./xmldocs/not-wf/sa/024.xml        -crlf
./xmldocs/not-wf/sa/025.xml        -crlf
./xmldocs/not-wf/sa/026.xml        -crlf
./xmldocs/not-wf/sa/027.xml        -crlf
./xmldocs/not-wf/sa/028.xml        -crlf
./xmldocs/not-wf/sa/029.xml        -crlf
./xmldocs/not-wf/sa/030.xml        -crlf
./xmldocs/not-wf/sa/031.xml        -crlf
./xmldocs/not-wf/sa/032.xml        -crlf
./xmldocs/not-wf/sa/033.xml        -crlf
./xmldocs/not-wf/sa/034.xml        -crlf
./xmldocs/not-wf/sa/035.xml        -crlf
./xmldocs/not-wf/sa/036.xml        -crlf
./xmldocs/not-wf/sa/037.xml        -crlf
./xmldocs/not-wf/sa/038.xml        -crlf
./xmldocs/not-wf/sa/039.xml        -crlf
./xmldocs/not-wf/sa/040.xml        -crlf
./xmldocs/not-wf/sa/041.xml        -crlf
./xmldocs/not-wf/sa/042.xml        -crlf
./xmldocs/not-wf/sa/043.xml        -crlf
./xmldocs/not-wf/sa/044.xml        -crlf
./xmldocs/not-wf/sa/045.xml        -crlf
./xmldocs/not-wf/sa/046.xml        -crlf
./xmldocs/not-wf/sa/047.xml        -crlf
./xmldocs/not-wf/sa/048.xml        -crlf
./xmldocs/not-wf/sa/049.xml        -crlf
./xmldocs/not-wf/sa/053.xml        -crlf
./xmldocs/not-wf/sa/072.xml        -crlf
./xmldocs/not-wf/sa/076.xml        -crlf
./xmldocs/not-wf/sa/093.xml        -crlf
./xmldocs/not-wf/sa/105.xml        -crlf
./xmldocs/not-wf/sa/106.xml        -crlf
./xmldocs/not-wf/sa/108.xml        -crlf
./xmldocs/not-wf/sa/112.xml        -crlf
./xmldocs/not-wf/sa/147.xml        -crlf
./xmldocs/not-wf/sa/150.xml        -crlf
./xmldocs/not-wf/sa/151.xml        -crlf
./xmldocs/not-wf/sa/156.xml        -crlf
./xmldocs/not-wf/sa/157.xml        -crlf
./xmldocs/not-wf/sa/166.xml        -crlf
./xmldocs/not-wf/sa/167.xml        -crlf
./xmldocs/not-wf/sa/168.xml        -crlf
./xmldocs/not-wf/sa/169.xml        -crlf
./xmldocs/not-wf/sa/170.xml        -crlf
./xmldocs/not-wf/sa/172.xml        -crlf
./xmldocs/not-wf/sa/173.xml        -crlf
./xmldocs/not-wf/sa/174.xml        -crlf
./xmldocs/not-wf/sa/185.ent        -crlf
./xmldocs/valid/ext-sa/001.ent     -crlf
./xmldocs/valid/ext-sa/006.ent     -crlf
./xmldocs/valid/ext-sa/011.ent     -crlf
./xmldocs/valid/not-sa/003-1.ent   -crlf
./xmldocs/valid/not-sa/004-1.ent   -crlf
./xmldocs/valid/not-sa/004-2.ent   -crlf
./xmldocs/valid/not-sa/005-1.ent   -crlf
./xmldocs/valid/not-sa/005-2.ent   -crlf
./xmldocs/valid/not-sa/006.ent     -crlf
./xmldocs/valid/not-sa/007.ent     -crlf
./xmldocs/valid/not-sa/008.ent     -crlf
./xmldocs/valid/not-sa/009.ent     -crlf
./xmldocs/valid/not-sa/010.ent     -crlf
./xmldocs/valid/not-sa/011.ent     -crlf
./xmldocs/valid/not-sa/013.ent     -crlf
./xmldocs/valid/not-sa/014.ent     -crlf
./xmldocs/valid/not-sa/015.ent     -crlf
./xmldocs/valid/not-sa/016.ent     -crlf
./xmldocs/valid/not-sa/017.ent     -crlf
./xmldocs/valid/not-sa/018.ent     -crlf
./xmldocs/valid/not-sa/019.ent     -crlf
./xmldocs/valid/not-sa/020.ent     -crlf
./xmldocs/valid/not-sa/021.ent     -crlf
./xmldocs/valid/not-sa/022.ent     -crlf
./xmldocs/valid/not-sa/023.ent     -crlf
./xmldocs/valid/not-sa/024.ent     -crlf
./xmldocs/valid/not-sa/025.ent     -crlf
./xmldocs/valid/not-sa/026.ent     -crlf
./xmldocs/valid/not-sa/027.ent     -crlf
./xmldocs/valid/not-sa/028.ent     -crlf
./xmldocs/valid/not-sa/029.ent     -crlf
./xmldocs/valid/not-sa/030.ent     -crlf
./xmldocs/valid/not-sa/031-1.ent   -crlf
./xmldocs/valid/not-sa/031-2.ent   -crlf
./xmldocs/valid/sa/039.xml         -crlf
./xmldocs/valid/sa/097.ent         -crlf
