h3.fn,span.fn
{
  margin-left: 1cm;
  text-indent: -1cm;
}

a:link
{
  color: #004faf;
  text-decoration: none
}

a:visited
{
  color: #672967;
  text-decoration: none
}

td.postheader
{
  font-family: sans-serif
}

tr.address
{
  font-family: sans-serif
}

body
{
  background: #ffffff;
  color: black
}

pre
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: #ececec 1px solid;
  background: #f7f7f7;
  color: black
}
