./XML-Test-Suite/xmlconf/files/committee.css                   -crlf
./XML-Test-Suite/xmlconf/ibm/ibm_oasis_readme.txt              -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P32/ibm32i04.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P49/ibm49i01.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P50/ibm50i01.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P51/ibm51i01.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P68/ibm68i01.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P68/ibm68i02.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P68/ibm68i03.ent          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P68/ibm68i04.ent          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P69/ibm69i01.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P69/ibm69i02.dtd          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P69/ibm69i03.ent          -crlf
./XML-Test-Suite/xmlconf/ibm/invalid/P69/ibm69i04.ent          -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P01/ibm01n02.xml           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P23/ibm23n06.xml           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P30/ibm30n01.dtd           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P32/ibm32n09.dtd           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P78/ibm78n01.ent           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P78/ibm78n02.ent           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P79/ibm79n01.ent           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P79/ibm79n02.ent           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/P83/ibm83n02.xml           -crlf
./XML-Test-Suite/xmlconf/ibm/not-wf/p28a/ibm28an01.dtd         -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P09/ibm09v03.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P28/ibm28v02.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P30/ibm30v01.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P32/ibm32v01.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P32/ibm32v02.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P32/ibm32v03.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P32/ibm32v04.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P68/ibm68v01.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P68/ibm68v02.ent            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P69/ibm69v01.dtd            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P69/ibm69v02.ent            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P78/ibm78v03.ent            -crlf
./XML-Test-Suite/xmlconf/ibm/valid/P79/ibm79v01.ent            -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/not-wf/P77/ibm77n09.dtd   -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/not-wf/P77/ibm77n19.dtd   -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/not-wf/P77/ibm77n21.dtd   -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/valid/P77/ibm77v14.dtd    -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/valid/P77/ibm77v15.dtd    -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/valid/P77/ibm77v25.dtd    -crlf
./XML-Test-Suite/xmlconf/ibm/xml-1.1/valid/P77/ibm77v26.dtd    -crlf
./XML-Test-Suite/xmlconf/oasis/p01fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p01fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p01pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p01pass2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p01pass3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p03pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p04fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p04fail2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p04fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p04pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p05pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p09fail1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p09fail2.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p09pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p10fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p10fail2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p10fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p10pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p14fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p14fail2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p14fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p14pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16fail2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16pass2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p16pass3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p18fail3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p18pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p22fail1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p22pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p28pass4.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p28pass5.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p30pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p31pass2.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p40pass2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p40pass4.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p41pass2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p42pass2.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p44pass3.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p44pass4.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p44pass5.xml                    -crlf
./XML-Test-Suite/xmlconf/oasis/p61fail1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p61pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p62fail1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p62fail2.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p62pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p63fail1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p63fail2.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p63pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p64fail1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p64fail2.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p64pass1.dtd                    -crlf
./XML-Test-Suite/xmlconf/oasis/p66pass1.xml                    -crlf
./XML-Test-Suite/xmlconf/xmltest/invalid/002.ent               -crlf
./XML-Test-Suite/xmlconf/xmltest/invalid/005.ent               -crlf
./XML-Test-Suite/xmlconf/xmltest/invalid/006.ent               -crlf
./XML-Test-Suite/xmlconf/xmltest/invalid/not-sa/022.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/001.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/003.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/004.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/005.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/006.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/008.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/009.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/010.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/not-sa/011.ent         -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/001.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/002.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/003.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/004.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/005.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/006.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/007.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/008.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/009.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/010.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/011.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/012.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/013.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/014.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/015.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/016.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/017.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/018.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/019.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/020.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/021.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/022.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/023.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/024.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/025.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/026.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/027.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/028.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/029.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/030.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/031.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/032.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/033.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/034.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/035.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/036.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/037.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/038.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/039.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/040.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/041.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/042.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/043.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/044.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/045.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/046.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/047.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/048.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/049.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/053.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/072.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/076.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/093.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/105.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/106.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/108.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/112.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/147.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/150.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/151.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/156.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/157.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/166.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/167.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/168.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/169.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/170.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/172.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/173.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/174.xml             -crlf
./XML-Test-Suite/xmlconf/xmltest/not-wf/sa/185.ent             -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/ext-sa/001.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/ext-sa/006.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/ext-sa/011.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/003-1.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/004-1.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/004-2.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/005-1.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/005-2.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/006.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/007.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/008.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/009.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/010.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/011.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/013.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/014.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/015.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/016.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/017.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/018.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/019.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/020.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/021.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/023.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/024.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/025.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/026.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/027.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/028.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/029.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/030.ent          -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/031-1.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/not-sa/031-2.ent        -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/sa/039.xml              -crlf
./XML-Test-Suite/xmlconf/xmltest/valid/sa/097.ent              -crlf
